{% extends 'base.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по транспорту..' }) }}
{% endblock %}

{% block body %}
    <div id="transportPageContainer">
        <div id="vehicleFilter">
            <div style="width:770px; float:left">
                <div class="addVehicleBtn"><a href="{{ path('transport_add') }}">Добавить ТС</a></div>
                <div><a id="filter">Показать фильтры</a></div>
            </div>
            <div id="filterBlock" class="half dnone">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Тип</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="vehicleFilterStatus">
                            <span>Активные</span><input type="checkbox" id="vehicleFilterActive" {% if filters|length > 0 and filters.status_active %}checked="checked"{% endif %}>
                            <span>Неактивен</span><input type="checkbox" id="vehicleFilterPlanned" {% if filters|length > 0 and filters.status_inactive %}checked="checked"{% endif %}>
                        </td>
                        <td id="vehicleFilterTypes" class="vehicleFilterType">
                            {% for vtype in vtypes %}
                                <div><span>{{ vtype.getName }}</span><input {% if filters|length > 0 and vtype.getId in filters.vehicle_types %}checked="checked"{% endif %}value="{{ vtype.getId }}" type="checkbox"></div>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="float: right">
                    <a class="btn btn-default btnSetTransportFilter">Сохранить</a>
                </div>
                <div style="float: left">
                    <a class="btn btn-danger btnUnsetTransportFilter" filter_type="0">Сбросить фильтры</a>
                </div>
            </div>
        </div>
        <div id="vehicleTable">
            <table cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>ТС</th>
                    <th>Тип</th>
                    <th>Грузоподъёмность, т</th>
                    <th>Гос. номер</th>
                    <th>Номер п/п</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                {% if transports is empty %}
                    <tr>
                        <td colspan="7" align="center">Транспортные средства не найдены</td>
                    </tr>
                {% endif %}
                {% for transport in transports %}
                    <tr>
                        <td>
                            {% if transport.status == 1 %}Активен{% endif %}
                            {% if transport.status == 0 %}Неактивен{% endif %}
                        </td>
                        <td><a href="{{ path('transport_show', { 'id': transport.id }) }}">{{ transport.name }}</a></td>
                        <td>{{ transport.name }}</td>
                        <td align="right">{{ transport.payload }}</td>
                        <td align="center">{{ transport.reg_num }}</td>
                        <td align="center">{{ transport.trailer_reg_num }}</td>
                        <td>
                            <a class="btn btn-default changeVehicleInfo customtooltip" href="{{ path('transport_edit', { 'id': transport.id }) }}"><i class="fa fa-pencil"></i><span class="tooltiptext">Изменить</span></a>
                            <a class="btn btn-danger deleteVehicle customtooltip" href="{{ path('transport_confirmDelete', { 'id': transport.id }) }}"><i class="fa fa-trash-o"></i><span class="tooltiptext">Удалить</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
