{% extends 'base.html.twig' %}

{% block body %}
<div id="transportPageContainer">
    <div id="vehicleTable">
        <table cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <th>Статус</th>
                <td>{% if transport.status == 1 %}Активен{% endif %}
                    {% if transport.status == 0 %}Неактивен{% endif %}</td>
            </tr>
            <tr>
                <th>ТС</th>
                <td>{{ transport.name }}</td>
            </tr>
            <tr>
                <th>Тип</th>
                <td>{{ transport.tname }}</td>
            </tr>
            <tr>
                <th>Грузоподъёмность, т</th>
                <td>{{ transport.pname }}</td>
            </tr>
            <tr>
                <th>Гос. номер</th>
                <td>{{ transport.regNum }}</td>
            </tr>
            <tr>
                <th>Номер п/п</th>
                <td>{{ transport.trailerRegNum }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="btn btn-default" href="{{ path('transport_edit', { 'id': transport.id }) }}">Изменить</a>
                    <a class="btn btn-default" href="{{ path('transport') }}" style="float:right">Вернуться к списку ТС</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
