{% extends 'base.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по лотам..' }) }}
{% endblock %}

{% block body %}
    <div id="auctionPageContainer" data-user="{{ app.user.id }}">
        <div id="lotFilter">
            <div class="half">
                <div><a id="filter">Показать фильтры</a></div>
                <div id="filterBlock" class="half dnone">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Статус лота</th>
                                <th>Направление</th>
                                <th>Вид ТС</th>
                                <th>Дата подачи</th>
                                <th>Ставка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="lotFilterStatus">
                                    <span>Активные</span><input type="checkbox" id="lotFilterTradeActive" {% if filters|length > 0 and filters.status_active %}checked="checked"{% endif %}>
                                    <span>Планируемые</span><input type="checkbox" id="lotFilterPlanned" {% if filters|length > 0 and filters.status_planned %}checked="checked"{% endif %}>
                                </td>
                                <td class="lotFilterDirection">
                                    <div>
                                        <span>Откуда</span>
                                        <select id="lotFilterDirFrom">
                                            <option selected="selected" value="">&mdash;</option>
                                            {% for region in regions['from'] %}
                                                <option {% if filters|length > 0 and filters.region_from == region %}selected="selected"{% endif %} value="{{ region }}">{{ region }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <span>Куда</span>
                                        <select id="lotFilterDirTo">
                                            <option selected="selected" value="">&mdash;</option>
                                            {% for region in regions['to'] %}
                                                <option {% if filters|length > 0 and filters.region_to == region %}selected="selected"{% endif %} value="{{ region }}">{{ region }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td id="lotFilterVehicleTypes" class="lotFilterVehicleType">
                                    {% for vtype in vtypes %}
                                        <div><span>{{ vtype.getName }}</span><input {% if filters|length > 0 and vtype.getName in filters.vehicle_types %}checked="checked"{% endif %}value="{{ vtype.getName }}" type="checkbox"></div>
                                    {% endfor %}
                                </td>
                                <td class="lotFilterGetInTime">
                                    <div>
                                        <span>С</span>
                                        <input type="text" id="lotFilterTimeFrom" {% if filters|length > 0 and filters.load_date_from != '' %}value="{{ filters.load_date_from }}"{% endif %}>
                                    </div>
                                    <div>
                                        <span>По</span>
                                        <input type="text" id="lotFilterTimeTo" {% if filters|length > 0 and filters.load_date_to != '' %}value="{{ filters.load_date_to }}"{% endif %}>
                                    </div>
                                </td>
                                <td class="lotFilterBids">
                                    <div><span>Все</span><input type="radio" name="lotFilterBid" id="lotFilterAllBids" value="0" {% if filters|length > 0 and filters.bet == 0 %}checked="checked"{% endif %}></div>
                                    <div><span>Моя ставка</span><input type="radio" name="lotFilterBid" id="lotFilterMyBid" value="1" {% if filters|length > 0 and filters.bet == 1 %}checked="checked"{% endif %}></div>
                                    <div><span>Моя ставка перебита</span><input type="radio" name="lotFilterBid" id="lotFilterNotMyBid" value="2" {% if filters|length > 0 and filters.bet == 2 %}checked="checked"{% endif %}></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right">
                        <a class="btn btn-default btnSetAuctionFilter">Сохранить</a>
                    </div>
                    <div style="float: left">
                        <a class="btn btn-danger btnUnsetAuctionFilter" filter_type="0">Сбросить фильтры</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="auctionTable">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>№ Рейса</th>
                        <th class="txtAlignCenter">Направление</th>
                        <th>Подача</th>
                        <th>Вид ТС</th>
                        <th>Вес (плт)</th>
                        <th class="txtAlignCenter">Комментарий</th>
                        <th>До конца торгов</th>
                        <th>Цена лота, &#8381;</th>
                        <th class="txtAlignCenter">Ставка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in lots %}
                        <tr id="lot-{{ lot.getId }}">
                            <td align="center"><a class="showLotRouteInfo">{{ routes[ lot.getRouteId.getId ].getCode }}</a></td>
                            <td class="lotDirection">{{ routes[ lot.getRouteId.getId ].getRegionFrom }} &xrarr;<br />{{ routes[ lot.getRouteId.getId ].getRegionTo }}</td>
                            <td class="lotGetInTime">{{ routes[ lot.getRouteId.getId ].getLoadDate|date('H:i d.m.Y') }}</td>
                            <td class="lotVehicleType">{{ routes[ lot.getRouteId.getId ].getVehicleType }}<br />{{ routes[ lot.getRouteId.getId ].getVehiclePayload }}</td>
                            <td align="right">{{ routes[ lot.getRouteId.getId ].getCargoWeight }} ({{ routes[ lot.getRouteId.getId ].getCargoCount }})</td>
                            <td class="lotComment">{{ routes[ lot.getRouteId.getId ].getComment }}</td>

                            <td class="lotTimeLeftTimer">{% if lot.getStartDate.timestamp <= date().timestamp and (lot.getStartDate.timestamp + lot.getDuration*60) > date().timestamp %}<span class="lotTimeLeft" data-ts="{% if tz == 'Europe/Moscow' %}{% set tzts = 3*60*60 %}{% elseif tz == 'Europe/Samara' %}{% set tzts = 4*60*60 %}{% elseif tz == 'Asia/Yekaterinburg' %}{% set tzts = 5*60*60 %}{% elseif tz == 'Asia/Novosibirsk' %}{% set tzts = 7*60*60 %}{% else %}{% set tzts = 0 %}{% endif %}{{ (lot.getStartDate.timestamp + tzts) }}">{{ (lot.getStartDate.timestamp + lot.getDuration*60) | date('Y/m/d H:i:s', tz) }}</span>{% elseif lot.getStartDate.timestamp > date().timestamp %}{% else %}<span class="lotTimeLeft">0</span>{% endif %}</td>

                            <td id="{{ lot.getId }}" class="lotCurrentPrice{% if lot.getId in bets|keys and app.user.id == bets[ lot.getId ]['owner'] %}{{' myBet'}}{% elseif lot.getId in bets|keys and app.user.id in bets[ lot.getId ]['history'] and app.user.id != bets[ lot.getId ]['owner'] %}{{' notMyBet'}}{% endif %}" align="right">{{ lot.getPrice }}</td>

                            <td class="lotDoBid" align="center">
                                {% if lot.getStartDate.timestamp > date().timestamp %}
                                    Начало в {{ lot.getStartDate.timestamp | date('H:i d.m.Y', tz) }}
                                {% else %}
                                    {{ form_start(forms[lot.getId]) }}
                                        {{ form_widget(forms[lot.getId]) }}
                                        <input class="btn btn-default doBid" type="button" data-tradeStep="{{ routes[ lot.getRouteId.getId ].getTradeStep }}" value="Ставка &#8681;" />
                                    {{ form_end(forms[lot.getId]) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="zeroHeight">
                            <td colspan="9" class="hiddenRow">
                                <div class="dnone lotInfoWindow">
                                    <div class="routeNumber">
                                        Рейс №: <span id="routeNumber">{{ routes[ lot.getRouteId.getId ].getCode }}</span>
                                    </div>
                                    <div class="routeStatus">
                                        Статус: <span id="routeStatus">{{ routes[ lot.getRouteId.getId ].getStatus }}</span>
                                    </div>
                                    <div class="routeInfoTable">
                                        <table cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>Дата загрузки:</td><td>{{ routes[ lot.getRouteId.getId ].getLoadDate|date('H:i d.m.Y') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Пункт отгрузки:</td><td>{{ routes[ lot.getRouteId.getId ].getRegionFrom }}</td>
                                            </tr>
                                            <tr>
                                                <td>Регион доставки:</td><td>{{ routes[ lot.getRouteId.getId ].getRegionTo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Вид ТС:</td><td>{{ routes[ lot.getRouteId.getId ].getVehiclePayload }} {{ routes[ lot.getRouteId.getId ].getVehicleType }}</td>
                                            </tr>
                                            <tr>
                                                <td>Тариф:</td><td id="lpi_{{ lot.getId }}">{{ lot.getPrice }} &#8381;</td>
                                            </tr>
                                            <tr>
                                                <td>Комментарий:</td><td>{{ routes[ lot.getRouteId.getId ].getComment }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="routeInfo">
                                        <span>Информация по заказам:</span>
                                        <table id="routeOrdersTable" cellpadding="0" cellspacing="0" style="border:1px solid gray; border-collapse: collapse">
                                            <thead>
                                                <tr>
                                                    <td>№ Заказа</td>
                                                    <td>Контрагент</td>
                                                    <td>Адрес доставки</td>
                                                    <td>Дата доставки</td>
                                                    <td>Вес кг, объём плт</td>
                                                    <td>Категория продукции</td>
                                                    <td>Спец. условия погрузки</td>
                                                    <td>Спец. условия выгрузки</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in orders[ lot.getRouteId.getId ] %}
                                                <tr>
                                                    <td>{{ order.getCode }}</td>
                                                    <td>{{ order.getConsignee }}</td>
                                                    <td>{{ order.getUnloadAddress }}</td>
                                                    <td>{{ order.getDate|date('H:i d.m.Y') }}</td>
                                                    <td>{{ order.getWeight }} ({{  order.getCountNum }})</td>
                                                    <td></td>
                                                    <td>{{ order.getLoadSpecialConditions }}</td>
                                                    <td>{{ order.getUnloadSpecialConditions }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество точек выгрузки:<span> {{ orders[ lot.getRouteId.getId ]|length }}</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Общий вес брутто:<span> {{ routes[ lot.getRouteId.getId ].getCargoWeight }} кг</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество паллет:<span> {{ routes[ lot.getRouteId.getId ].getCargoCount }}</span></div>
                                    </div>
                                    <div style="float:right; padding-bottom: 10px;"><a class="btn btn-default btnCloseRouteInfo">Вернуться к списку</a></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}