{% extends 'base.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по лотам..' }) }}
{% endblock %}

{% block body %}
    <div id="auctionPageContainer" data-user="{{ app.user.id }}">
        <div id="lotFilter">
            <div class="half">
                <div><a id="filter">Показать фильтры</a></div>
                <div id="filterBlock" class="half dnone">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Статус лота</th>
                                <th>Направление</th>
                                <th>Вид ТС</th>
                                <th>Дата подачи</th>
                                <th>Ставка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="lotFilterStatus">
                                    <span>Активные</span><input type="checkbox" id="lotFilterTradeActive" {% if filters|length > 0 and filters.status_active %}checked="checked"{% endif %}>
                                    <span>Планируемые</span><input type="checkbox" id="lotFilterPlanned" {% if filters|length > 0 and filters.status_planned %}checked="checked"{% endif %}>
                                </td>
                                <td class="lotFilterDirection">
                                    <div>
                                        <span>Откуда</span>
                                        <select id="lotFilterDirFrom">
                                            <option selected="selected">&mdash;</option>
                                            <option>Саратов</option>
                                            <option>Аткарск</option>
                                        </select>
                                    </div>
                                    <div>
                                        <span>Куда</span>
                                        <select id="lotFilterDirTo">
                                            <option selected="selected">&mdash;</option>
                                            <option>Павловский Посад</option>
                                            <option>Тула</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="lotFilterVehicleType">
                                    <div><span>Реф</span><input type="checkbox" id="lotFilterVTRef"></div>
                                    <div><span>Тент</span><input type="checkbox" id="lotFilterVTTen"></div>
                                    <div><span>Изотерм</span><input type="checkbox" id="lotFilterVTIso"></div>
                                    <div><span>Цистерна</span><input type="checkbox" id="lotFilterVTCis"></div>
                                </td>
                                <td class="lotFilterGetInTime">
                                    <div>
                                        <span>С</span>
                                        <input type="datetime-local" id="lotFilterTimeFrom">
                                    </div>
                                    <div>
                                        <span>По</span>
                                        <input type="datetime-local" id="lotFilterTimeTo">
                                    </div>
                                </td>
                                <td class="lotFilterBids">
                                    <div><span>Ставку делал</span><input type="checkbox" id="lotFilterDoBid"></div>
                                    <div><span>Ставку не делал</span><input type="checkbox" id="lotFilterDontBid"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right">
                        <a class="btn btn-default btnSetAuctionFilter">Сохранить</a>
                    </div>
                    <div style="float: left">
                        <a class="btn btn-danger btnUnsetAuctionFilter">Сбросить фильтры</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="auctionTable">
            <table cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>№ Рейса</th>
                        <th class="txtAlignCenter">Направление</th>
                        <th>Подача</th>
                        <th>Вид ТС</th>
                        <th>Вес, кг (Объем, плт)</th>
                        <th class="txtAlignCenter">Комментарий</th>
                        <th>До конца торгов</th>
                        <th>Текущая цена лота, &#8381;</th>
                        <th class="txtAlignCenter">Ставка</th>
                    </tr>
                </thead>
                <tbody>
                    {% set showLot = true %}
                    {% for lot in lots %}
                        {% if filters|length > 0 %}
                            {% if filters.status_active %}
                                {% if lot.getStartDate.timestamp > date().timestamp or (lot.getStartDate.timestamp + lot.getDuration*60) < date().timestamp%}
                                    {% set showLot = false %}
                                {% endif %}
                            {% endif %}
                            {% if filters.status_planned %}
                                {% if lot.getStartDate.timestamp < date().timestamp and (lot.getStartDate.timestamp + lot.getDuration*60) > date().timestamp%}
                                    {% set showLot = false %}
                                {% endif %}
                            {% endif %}
                            {% if filters.status_active and filters.status_planned %}
                                {% set showLot = true %}
                            {% endif %}
                        {% endif %}
                        {% if showLot %}
                        <tr id="lot-{{ lot.getId }}">
                            <td align="center"><a class="showLotRouteInfo">{{ lot.getRouteId.getCode }}</a></td>
                            <td class="lotDirection">{{ lot.getRouteId.getRegionFrom }} &xrarr;<br />{{ lot.getRouteId.getRegionTo }}</td>
                            <td class="lotGetInTime">{{ lot.getRouteId.getLoadDate|date('d.m.Y H:i') }}</td>
                            <td class="lotVehicleType">{{ lot.getRouteId.getVehicleType }}<br />{{ lot.getRouteId.getVehiclePayload }}</td>
                            <td align="right">{{ lot.getRouteId.getCargoWeight }} ({{ lot.getRouteId.getCargoCount }})</td>
                            <td class="lotComment">{{ lot.getRouteId.getComment }}</td>

                            <td class="lotTimeLeftTimer">{% if lot.getStartDate.timestamp <= date().timestamp and (lot.getStartDate.timestamp + lot.getDuration*60) > date().timestamp %}<span class="lotTimeLeft">{{ (lot.getStartDate.timestamp + lot.getDuration*60) | date('Y/m/d H:i:s') }}</span>{% elseif lot.getStartDate.timestamp > date().timestamp %}{% else %}<span class="lotTimeLeft">0</span>{% endif %}</td>

                            <td id="{{ lot.getId }}" class="{% if lot.getId in bets|keys and app.user.id == bets[ lot.getId ]['owner'] %}{{'myBet '}}{% elseif lot.getId in bets|keys and app.user.id in bets[ lot.getId ]['history'] and app.user.id != bets[ lot.getId ]['owner'] %}{{'notMyBet '}}{% endif %}lotCurrentPrice" align="right">{{ lot.getPrice }}</td>

                            <td class="lotDoBid" align="center">
                                {% if lot.getStartDate.timestamp > date().timestamp %}
                                    Начало в {{ lot.getStartDate.timestamp | date('H:i:s d.m.Y') }}
                                {% else %}
                                    {{ form_start(forms[lot.getId]) }}
                                        {{ form_widget(forms[lot.getId]) }}
                                        <input class="btn btn-default doBid" type="button" data-tradeStep="{{ lot.getRouteId.getTradeStep }}" value="Ставка &#8681;" />
                                    {{ form_end(forms[lot.getId]) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="zeroHeight">
                            <td colspan="9" class="hiddenRow">
                                <div class="dnone lotInfoWindow">
                                    <div class="routeNumber">
                                        Рейс №: <span id="routeNumber">{{ lot.getRouteId.getCode }}</span>
                                    </div>
                                    <div class="routeStatus">
                                        Статус: <span id="routeStatus">{{ lot.getRouteId.getStatus }}</span>
                                    </div>
                                    <div class="routeInfoTable">
                                        <table cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>Дата загрузки:</td><td>{{ lot.getRouteId.getLoadDate|date('d.m.Y H:i') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Пункт отгрузки:</td><td>{{ lot.getRouteId.getRegionFrom }}</td>
                                            </tr>
                                            <tr>
                                                <td>Регион доставки:</td><td>{{ lot.getRouteId.getRegionTo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Вид ТС:</td><td>{{ lot.getRouteId.getVehiclePayload }} {{ lot.getRouteId.getVehicleType }}</td>
                                            </tr>
                                            <tr>
                                                <td>Тариф:</td><td id="lpi_{{ lot.getId }}">{{ lot.getPrice }} &#8381;</td>
                                            </tr>
                                            <tr>
                                                <td>Комментарий:</td><td>{{ lot.getRouteId.getComment }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="routeInfo">
                                        <span>Информация по заказам:</span>
                                        <table id="routeOrdersTable" cellpadding="0" cellspacing="0" style="border:1px solid gray; border-collapse: collapse">
                                            <thead>
                                                <tr>
                                                    <td>№ Заказа</td>
                                                    <td>Контрагент</td>
                                                    <td>Адрес доставки</td>
                                                    <td>Плановая дата доставки</td>
                                                    <td>Вес кг, объём плт</td>
                                                    <td>Категория продукции</td>
                                                    <td>Спец. условия погрузки</td>
                                                    <td>Спец. условия выгрузки</td>
                                                    <td>Ответственный</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for order in lot.getRouteId.getOrders %}
                                                <tr>
                                                    <td>{{ order.getCode }}</td>
                                                    <td>{{ order.getConsignee }}</td>
                                                    <td>{{ order.getUnloadAddress }}</td>
                                                    <td>{{ order.getDate|date('d.m.Y H:i') }}</td>
                                                    <td>{{ order.getWeight }} ({{  order.getCountNum }})</td>
                                                    <td></td>
                                                    <td>{{ order.getLoadSpecialConditions }}</td>
                                                    <td>{{ order.getUnloadSpecialConditions }}</td>
                                                    <td>{{ order.getManager }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество точек выгрузки:<span> {{ lot.getRouteId.getOrders|length }}</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Общий вес брутто:<span> {{ lot.getRouteId.getCargoWeight }} кг</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество паллет:<span> {{ lot.getRouteId.getCargoCount }}</span></div>
                                    </div>
                                    <div style="float:right; padding-bottom: 10px;"><a class="btn btn-default btnCloseRouteInfo">Вернуться к списку</a></div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% set showLot = true %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}