<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Портал электронных торгов{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('/static/css/style.css') }}" type="text/css" rel="stylesheet" />
        <!--[if IE]>
        <link href="{{ asset('/static/css/ie.css') }}" type="text/css" rel="stylesheet" />
        <![endif]-->
        <link href="{{ asset('/static/js/plugins/chosen/chosen.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/static/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div id="topMenu">
    {% block topMenu %}
        <ul class="topnav" id="menu">
            <li>
                {% if app.request.get('_route') == 'mainpage' %}
                    <a class="active" href="/">Главная</a>
                {% else %}
                    <a href="/">Главная</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'auction' %}
                    <a class="active" href="{{ url("auction") }}">Торги</a>
                {% else %}
                    <a href="{{ url("auction") }}">Торги</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'routes' %}
                    <a class="active" href="{{ url("routes") }}">Рейсы</a>
                {% else %}
                    <a href="{{ url("routes") }}">Рейсы</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'driver' %}
                    <a class="active" href="{{ url("driver") }}">Водители</a>
                {% else %}
                    <a href="{{ url("driver") }}">Водители</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'transport' %}
                    <a class="active" href="{{ url("transport") }}">Транспорт</a>
                {% else %}
                    <a href="{{ url("transport") }}">Транспорт</a>
                {% endif %}
            </li>

            {% block topMenuSearch %}
            {% endblock %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="loggedUser">
                    Здравствуйте, {{ app.user.username }} <a href="{{ logout_path('main') }}">Выход</a>
                </li>
            {% endif %}

            <li class="icon">
                <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenuItems()"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
    {% endblock %}
</div>

{% block body %}
    <div id="content">
        <div class="lotsInfo">
            <div class="lotsInfoTitle">Общая информация по лотам</div>
            <div class="lotsList">
                <ul>
                    <li>
                        <div>Активных лотов</div>
                        <div class="pdleft3">{{ activeLotsNum }}</div>
                    </li>
                    {% for s in stat %}
                        <li class="pdleft10">
                            <div>{{ s['dir'] }}</div>
                            <div>{{ s['num'] }}</div>
                        </li>
                    {% endfor %}
                    <li>
                        <div>Планируемых лотов</div>
                        <div class="pdleft3">{{ plannedLotsNum }}</div>
                    </li>
                    <!--
                    <li class="pdleft20">
                        <div>Саратов - Рязань</div>
                        <div>87</div>
                    </li>
                    <li class="pdleft20">
                        <div>Ижевск - Красноярск</div>
                        <div>63</div>
                    </li>
                    -->
                </ul>
            </div>
        </div>

        <div class="userRoutesInfo">
            <div class="lotsInfoTitle">Информация по вашим рейсам</div>
            <div class="lotsList">
                <ul>
                    <li>
                        <div>Рейсы требующие назначения</div>
                        <div>{{ routes_no_driver }}</div>
                    </li>
                    <li>
                        <div>Опоздания</div>
                        <div>0</div>
                    </li>
                    <li>
                        <div>Всего рейсов</div>
                        <div>{{ routes_sum }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/static/js/fontAwesome.js') }}"></script>
    <script src="{{ asset('/static/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('/static/js/plugins/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('/static/js/plugins/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('/static/js/plugins/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('/static/js/main.js') }}"></script>
{% endblock %}
</body>
</html>