<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Портал "Солнечные продукты"{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('/static/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/static/js/plugins/chosen/chosen.css') }}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div id="topMenu">
    {% block topMenu %}
        <ul class="topnav" id="menu">
            <li>
                {% if app.request.get('_route') == 'mainpage' %}
                    <a class="active" href="{{ app.request.baseUrl }}">Главная</a>
                {% else %}
                    <a href="{{ app.request.baseUrl }}">Главная</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'auction' %}
                    <a class="active" href="{{ url("auction") }}">Торги</a>
                {% else %}
                    <a href="{{ url("auction") }}">Торги</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'routes' %}
                    <a class="active" href="{{ url("routes") }}">Рейсы</a>
                {% else %}
                    <a href="{{ url("routes") }}">Рейсы</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'driver' %}
                    <a class="active" href="{{ url("driver") }}">Водители</a>
                {% else %}
                    <a href="{{ url("driver") }}">Водители</a>
                {% endif %}
            </li>
            <li>
                {% if app.request.get('_route') == 'transport' %}
                    <a class="active" href="{{ url("transport") }}">Транспорт</a>
                {% else %}
                    <a href="{{ url("transport") }}">Транспорт</a>
                {% endif %}
            </li>

            {% block topMenuSearch %}
            {% endblock %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="loggedUser">
                    Здравствуйте, {{ app.user.username }} <a href="{{ logout_path('main') }}">Выход</a>
                </li>
            {% endif %}

            <li class="icon">
                <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenuItems()"><i class="fa fa-bars"></i></a>
            </li>
        </ul>
    {% endblock %}
</div>

{% block body %}
    <div id="content">
        <div class="lotsInfo">
            <div class="lotsInfoTitle">Общая информация по лотам</div>
            <div class="lotsList">
                <ul>
                    <li>
                        <div>Активных лотов</div>
                        <div class="pdleft3">518</div>
                    </li>
                    <li class="pdleft20">
                        <div>Москва - Тюмень</div>
                        <div>328</div>
                    </li>
                    <li class="pdleft20">
                        <div>Новосибирск - Омск</div>
                        <div>190</div>
                    </li>
                    <li>
                        <div>Планируемых лотов</div>
                        <div class="pdleft3">150</div>
                    </li>
                    <li class="pdleft20">
                        <div>Саратов - Рязань</div>
                        <div>87</div>
                    </li>
                    <li class="pdleft20">
                        <div>Ижевск - Красноярск</div>
                        <div>63</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="userRoutesInfo">
            <div class="lotsInfoTitle">Информация по вашим рейсам</div>
            <div class="lotsList">
                <ul>
                    <li>
                        <div>Рейсы требующие назначения</div>
                        <div>18</div>
                    </li>
                    <li>
                        <div>Опоздания</div>
                        <div>6</div>
                    </li>
                    <li>
                        <div>Всего рейсов</div>
                        <div>24</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup %}
{% endblock %}

{% block additionalWindows %}
    <div id="routeAddDriverWindow">
        <div class="routeAddDriverSelect">
            <select id="routeAddDriverSelect">
                <option selected="selected">Выберите водителя</option>
                <option>Иванов Иван Иванович</option>
                <option>Петров Петр Петрович</option>
                <option>Сидоров Сидр Сидорович</option>
            </select>
        </div>
        <div class="routeAddVehicleSelect">
            <div>Прикрепленная к водителю машина:<br /><strong>Газель у292нт09</strong></div>
            <div style="margin:5px 0">Если у водителя нет прикрепленной машины или он поедет на другой, то</div>
            <select id="routeAddVehicleSelect">
                <option selected="selected">Выберите машину</option>
                <option>Камаз</option>
                <option>Газель</option>
                <option>Volvo</option>
            </select>
        </div>
        <input class="btn btn-success" type="submit" value="Сохранить" />
        <a class="btn btn-default" style="float:right" href="{{ path('routes') }}">Отменить</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://use.fontawesome.com/c20bfc2510.js"></script>
    <script src="{{ asset('/static/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('/static/js/plugins/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('/static/js/plugins/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('/static/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
