{% extends 'indexPage.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/static/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/static/js/plugins/chosen/chosen.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по водителям..' }) }}
{% endblock %}

{% block body %}
    <div id="driverPageContainer">
        <div id="driversFilter">
            <div style="width:598px; float:left">
                <div class="addDriverBtn"><a >Добавить водителя</a></div>
                <div style=""><a id="filter">Показать фильтры</a></div>
            </div>
            <div id="filterBlock" class="half dnone">
                <table cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="driversFilterStatus">
                            <select id="driversFilterStatus">
                                <option selected="selected">&mdash;</option>
                                <option>Активен</option>
                                <option>Без данных</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="driversTable">
            <table cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>Статус</th>
                    <th>ФИО</th>
                    <th>Телефон</th>
                    <th>ТС, гос. номер</th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Активен</td>
                    <td align="center">Иванов Иван Иванович</td>
                    <td align="right">8 926 531 1066</td>
                    <td align="right">Газель е001кх77</td>
                    <td class="actionBtns">
                        <form action="" method="POST">
                            <a class="btn btn-default changeDriverInfo"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger deleteDriver"><i class="fa fa-trash-o"></i></a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Неактивен</td>
                    <td align="center">Петров Петр Петрович</td>
                    <td align="right">8 926 223 9871</td>
                    <td align="right">Скания м328нк24</td>
                    <td class="actionBtns">
                        <form action="" method="POST">
                            <a class="btn btn-default changeDriverInfo"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger deleteDriver"><i class="fa fa-trash-o"></i></a>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Активен</td>
                    <td align="center">Сидоров Сидр Сидорович</td>
                    <td align="right">8 915 710 1019</td>
                    <td align="right">Вольво н888тт08</td>
                    <td class="actionBtns">
                        <form action="" method="POST">
                            <a class="btn btn-default changeDriverInfo"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-danger deleteDriver"><i class="fa fa-trash-o"></i></a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="addDriverWindow">
        <table cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2">
                        <input id="driverName" type="text" class="addDriverWindowBtn" placeholder="ФИО" style="margin-top: 10px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="driverPhone" type="text" class="addDriverWindowBtn" placeholder="Телефон" >
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="driverPassport" type="text" class="addDriverWindowBtn" placeholder="Паспортные данные"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="driverLicense" type="text" class="addDriverWindowBtn" placeholder="Водительское удостоверение" >
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="addDriverVehicle" data-placeholder="Выберите ТС.." class="chosen-select">
                            <option></option>
                            <option>Газель о323рр47</option>
                            <option>Вольво к898уу77</option>
                            <option>Камаз м301тк13</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input id="addDriverBtn" class="addDriverWindowBtn" type="button" value="Сохранить">
                    </td>
                    <td align="right">
                        <input id="cancelBtn" class="addDriverWindowBtn" type="button" value="Отменить">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/static/js/jquery-3.1.1.min.js') }}"></script>
    <script src="https://use.fontawesome.com/c20bfc2510.js"></script>
    <script src="{{ asset('/static/js/plugins/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('/static/js/main.js') }}"></script>
{% endblock %}