<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Портал солнечные продукты{% endblock %}</title>
    {% block stylesheets %}<link href="{{ asset('/static/css/style.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="topMenu">
{% block topMenu %}
    <ul class="topnav" id="menu">
        <li>
            <a class="active" href="/">Главная</a>
        </li>
        <li>
            <a href="/auction">Торги</a>
        </li>
        <li>
            <a href="/routes">Рейсы</a>
        </li>
        <li>
            <a href="/drivers">Водители</a>
        </li>
        <li>
            <a href="/vehicles">Транспорт</a>
        </li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="loggedUser">
                Здравствуйте, {{ app.user.username }} <a href="{{ logout_path('main') }}">Выход</a>
            </li>
        {% endif %}

        <li class="icon">
            <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenuItems()">☰</a>
        </li>
    </ul>
{% endblock %}
</div>

<div id="content">
{% block body %}
    <div class="lotsInfo">
        <div class="lotsInfoTitle">Общая информация по лотам</div>
        <div class="lotsList">
            <ul>
                <li>
                    <div>Активных лотов</div>
                    <div class="pdleft11">347</div>
                </li>
                <li class="pdleft20">
                    <div>Москва - Тюмень</div>
                    <div>328</div>
                </li>
                <li class="pdleft20">
                    <div>Новосибирск - Омск</div>
                    <div>19</div>
                </li>
                <li>
                    <div>Планируемых лотов</div>
                    <div class="pdleft11">150</div>
                </li>
                <li class="pdleft20">
                    <div>Саратов - Рязань</div>
                    <div>87</div>
                </li>
                <li class="pdleft20">
                    <div>Ижевск - Красноярск</div>
                    <div>63</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="userRoutesInfo">

    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/static/js/indexPage.js') }}" />
{% endblock %}
</body>
</html>