{% extends 'base.html.twig' %}

{% block topMenuSearch %}
    {{ include('search/search.html.twig', { 'searchCaption': 'Поиск по рейсам..' }) }}
{% endblock %}

{% block body %}
    <div id="routesPageContainer">
        <div id="routesFilter">
            <div class="half">
                <div><a id="filter">Показать фильтры</a></div>
                <div id="filterBlock" class="half dnone">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Статус рейса</th>
                            <th>Направление</th>
                            <th>Дата подачи</th>
                            <th>Водитель с машиной</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="routeFilterStatus">
                                    <span>Активные</span><input type="checkbox" id="routeFilterActive" {% if filters|length > 0 and filters.status_active %}checked="checked"{% endif %}>
                                    <span>Завершенные</span><input type="checkbox" id="routeFilterPlanned" {% if filters|length > 0 and filters.status_planned %}checked="checked"{% endif %}>
                                </td>
                                <td class="routeFilterDirection">
                                    <div>
                                        <span>Откуда</span>
                                        <select id="routeFilterDirFrom">
                                            <option selected="selected" value="">&mdash;</option>
                                            {% for region in regions['from'] %}
                                                <option {% if filters|length > 0 and filters.region_from == region %}selected="selected"{% endif %} value="{{ region }}">{{ region }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div>
                                        <span>Куда</span>
                                        <select id="routeFilterDirTo">
                                            <option selected="selected" value="">&mdash;</option>
                                            {% for region in regions['to'] %}
                                                <option {% if filters|length > 0 and filters.region_to == region %}selected="selected"{% endif %} value="{{ region }}">{{ region }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td class="routeFilterGetInTime">
                                    <div>
                                        <span>С</span>
                                        <input type="text" id="routeFilterTimeFrom" {% if filters|length > 0 and filters.load_date_from != '' %}value="{{ filters.load_date_from }}"{% endif %}>
                                    </div>
                                    <div>
                                        <span>По</span>
                                        <input type="text" id="routeFilterTimeTo" {% if filters|length > 0 and filters.load_date_to != '' %}value="{{ filters.load_date_to }}"{% endif %}>
                                    </div>
                                </td>
                                <td class="routeFilterDriver">
                                    <div>
                                        <span>Назначен</span>
                                        <input type="radio" name="driverAssigned" value="1" id="routeFilterDriverSet" {% if filters|length > 0 and filters.driver_assigned == 1 %}checked="checked"{% endif %}>
                                    </div>
                                    <div>
                                        <span>Неназначен</span>
                                        <input type="radio" name="driverAssigned" value="0" id="routeFilterDriverNotSet" {% if filters|length > 0 and filters.driver_assigned == 0 %}checked="checked"{% endif %}>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="float: right">
                        <a class="btn btn-default btnSetRouteFilter">Сохранить</a>
                    </div>
                    <div style="float: left">
                        <a class="btn btn-danger btnUnsetRouteFilter" filter_type="1">Сбросить фильтры</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="routesTable">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th>Статус рейса</th>
                    <th>№ Рейса</th>
                    <th>Направление</th>
                    <th>Подача</th>
                    <th>Вид ТС</th>
                    <th>Вес (плт)</th>
                    <th>Ставка</th>
                    <th>Водитель</th>
                    <th>Марка, гос. номер ТС</th>
                </tr>
                </thead>
                <tbody>
                    {% for route in routes %}
                        <tr class="route-{{ route.getId }}">
                            <td class="routeStatus">{{ route.getStatus }}</td>
                            <td align="center"><a class="showLotRouteInfo">{{ route.getCode }}</a></td>
                            <td class="routeDirection">{{ route.getRegionFrom }} &xrarr;<br />{{ route.getRegionTo }}</td>
                            <td class="routeGetInTime">{{ route.getLoadDate|date('d.m.Y H:i') }}</td>
                            <td class="routeVehicleType">{{ route.getVehicleType }}<br />{{ route.getVehiclePayload }}</td>
                            <td align="right">{{ route.getCargoWeight }} ({{ route.getCargoCount }})</td>
                            <td align="right">{{ route.getLotId.getPrice }}</td>
                            <td class="routeAssignedDriver" align="center">{% if route.getDriverId is not null %}{{ route.getDriverId.getFio }}{% endif %}</td>
                            <td class="routeAttachedVehicle" align="right">{% if route.getVehicleId is not null %}{{ route.getVehicleId.getName }}&nbsp;&nbsp;{{ route.getVehicleId.getRegNum }}{% endif %}</td>
                        </tr>
                        <tr class="zeroHeight">
                            <td colspan="9" class="hiddenRow">
                                <div class="dnone lotInfoWindow">
                                    <div class="routeNumber">
                                        Рейс №: <span id="routeNumber">{{ route.getCode }}</span>
                                    </div>
                                    <div class="routeStatus">
                                        Статус: <span id="routeStatus">{{ route.getStatus }}</span>
                                    </div>
                                    <div class="routeInfoTable">
                                        <table cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>Дата загрузки:</td><td>{{ route.getLoadDate|date('d.m.Y H:i') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Пункт отгрузки:</td><td>{{ route.getRegionFrom }}</td>
                                            </tr>
                                            <tr>
                                                <td>Регион доставки:</td><td>{{ route.getRegionTo }}</td>
                                            </tr>
                                            <tr>
                                                <td>Вид ТС:</td><td>{{ route.getVehiclePayload }} {{ route.getVehicleType }}</td>
                                            </tr>
                                            <tr>
                                                <td>Тариф:</td><td>{{ route.getLotId.getPrice }} &#8381;</td>
                                            </tr>
                                            <tr>
                                                <td>Комментарий:</td><td>{{ route.getComment }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div data-routeId="{{ route.getId }}">
                                        {% if route.getDriverId|length > 0 %}
                                            <div style="float: left; margin: 0 10px 5px 0; width: 25%; height: 75px;">
                                                <div class="routeDriverName">{{ route.getDriverId.getFio }}</div>
                                                <div class="routeDriverPassportData">{{ route.getDriverId.getPassportSeries }}&nbsp;{{ route.getDriverId.getPassportNumber }}<br />Выдан: {{ route.getDriverId.getPassportDateIssue }} {{ route.getDriverId.getPassportIssuedBy }}</div>
                                                <div class="routeDriverPhoneNumber">{{ route.getDriverId.getPhone }}</div>
                                            </div>
                                        {% endif %}

                                        {% if route.getVehicleId|length > 0 %}
                                            <div style="float: left; margin-bottom: 5px; width: 310px; height: 75px;">
                                                <div class="routeVehicleName">{{ route.getVehicleId.getName }}</div>
                                                <div class="routeVehicleRegNum">{{ route.getVehicleId.getRegNum }}</div>
                                            </div>
                                        {% endif %}

                                        {% if route.getDriverId|length > 0 %}
                                            <div class="routeDeleteDriver">
                                                <a class="btn btn-danger">Удалить водителя и машину</a>
                                            </div>
                                        {% endif %}
                                        <div class="routeDriverHeader">Назначить водителя и машину:</div>
                                        <div class="routeAddDriverWindow">
                                            <div class="routeAddDriverSelect">
                                                <select id="routeAddDriverSelect">
                                                    <option selected="selected">Выберите водителя</option>
                                                    {% for driver in drivers %}
                                                        <option value="{{ driver.getId }}">{{ driver.getFio }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="routeAddVehicleSelect">
                                                <select id="routeAddVehicleSelect">
                                                    <option selected="selected">Выберите машину</option>
                                                    {% for vehicle in vehicles %}
                                                        <option value="{{ vehicle.getId }}">{{ vehicle.getName }} {{ vehicle.getRegNum }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <input class="btn btn-success" type="button" value="Сохранить" />
                                            <a class="btn btn-default" style="float:right" href="{{ path('routes') }}">Отменить</a>
                                        </div>
                                    </div>

                                    <div class="routeInfo">
                                        <span>Информация по заказам:</span>
                                        <table id="routeOrdersTable" cellpadding="0" cellspacing="0" style="border:1px solid gray; border-collapse: collapse">
                                            <thead>
                                            <tr>
                                                <td>№ Заказа</td>
                                                <td>Контрагент</td>
                                                <td>Адрес доставки</td>
                                                <td>Плановая дата доставки</td>
                                                <td>Вес кг, объём плт</td>
                                                <td>Категория продукции</td>
                                                <td>Спец. условия погрузки</td>
                                                <td>Спец. условия выгрузки</td>
                                                <td>Ответственный</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in route.getOrders %}
                                                    <tr>
                                                        <td>{{ order.getCode }}</td>
                                                        <td>{{ order.getConsignee }}</td>
                                                        <td>{{ order.getUnloadAddress }}</td>
                                                        <td>{{ order.getDate|date('d.m.Y H:i') }}</td>
                                                        <td>{{ order.getWeight }} ({{  order.getCountNum }})</td>
                                                        <td></td>
                                                        <td>{{ order.getLoadSpecialConditions }}</td>
                                                        <td>{{ order.getUnloadSpecialConditions }}</td>
                                                        <td>{{ order.getManager }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество точек выгрузки:<span> {{ route.getOrders|length }}</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Общий вес брутто:<span> {{ route.getCargoWeight }} кг</span></div>
                                        <div style="font-weight:bold; float: left; margin-right: 10px; margin-top: 10px">Количество паллет:<span> {{ route.getCargoCount }}</span></div>
                                    </div>
                                    <div style="float:right; padding-bottom: 10px;"><a class="btn btn-default btnCloseRouteInfo">Вернуться к списку</a></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}